a {
    color: blue;
    font-size: 32px;
    display: inline-block;
    }
a[href*="google"] {
   color: #666;
    }
a[href*="yandex"] {
    color: orange;
    }
a[target="_blank"] + span::after {
    content: "\21f1";
    margin-left: 7px;
    color: #f70;
    display: inline-block;
    transform: scale(-1.5, 1.5);
    }